.comment {
  .title {
    font: italic small-caps 800 28px/30px 'Times New Roman';
    color: aqua;
  }
  .row1 {
    display: flex;
    align-items: center;
    margin: 20px 0;
    .tab {
      margin-left: 20px;
      .tab-item {
        padding: 0px 5px;
        border-right: 1px solid  #afafaf;
        cursor: pointer;
        &:last-child {
          border-right: none;
        }
        &.active {
          color: blue;
          font-weight: 600;
        }
      }
    }
  }
  .row2 {
    display: flex;
    align-items: center;
    img {
      width: 50px;
      height: auto;
    }
    input {
      margin: 0 12px;
    }
  }
  .comment-list {
    .comment-item {
      padding: 12px 0 12px 50px;
      border-bottom: 1px solid #afafaf;
      &:last-child {
        border-bottom: none;
      }
      .operate {
        display: flex;
        align-items: center;
        font-size: 12px;
        .like {
          margin: 0 18px;
        }
      }
    }
  }
}